html,body,div{
    ovderflow-x:hidden!important;
}
#ctn{
    display:'flex';
    flexDirection:'row'
}
.candy{
    height:48px;
    width:48px;
    display:none;
}

.candy_drops{
    height:48px;
    width:48px;
    position: absolute;
    animation: drops 3s infinite;
    -webkit-animation: drops 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: drops 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: drops 3s ease 1;
    -ms-animation-fill-mode:forwards;
}

@keyframes drops{
    from { z-index:999;}
    to{ z-index:-1; top:150%;display:none}
}

@-webkit-keyframes drops{
    from { z-index:999;}
    to{ z-index:-1; top:150%;display:none}
}
@-moz-keyframes drops{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}
@-ms-keyframes drops{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}

@keyframes dropsss{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}

@-webkit-keyframes dropsss{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}
@-moz-keyframes dropsss{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}
@-ms-keyframes dropsss{
    from { z-index:999;}
    to{ z-index:-99; top:150%;display:none}
}

@keyframes btc{
    from {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
    }
    to{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);	
    }
}
