#c1{
    right:59vw;
    top:24vw;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;
}
#c2{
    right:55vw;
    top:3vw;
    transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c3{
    top:35vw;
    right:50vw;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c4{
    top:12vw;
    right:32vw;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c5{
    right:40vw;
    top:32vw;
    transform: rotate(35deg);
    -webkit-transform: rotate(37deg);
    -moz-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c6{
    top:23vw;
    right:32vw;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c7{
    top:5vw;
    right:20vw;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}
#c8{
    top:3vw;
    right:72vw;
    transform: rotate(-66deg);
    -webkit-transform: rotate(-66deg);
    -moz-transform: rotate(-66deg);
    -ms-transform: rotate(-66deg);
    -webkit-animation: lastdrop 3s ease 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: lastdrop 3s ease 1;
    -moz-animation-fill-mode:forwards;
    -ms-animation: lastdrop 3s ease 1;
    -ms-animation-fill-mode:forwards;    
}

#m{
    width:100px;
    height:100px;
    background:red;
    animation:myfirst 5s;
    position:relative;
    -webkit-animation:myfirst 5s; /* Safari and Chrome */
    -webkit-transform: translateY(-100px);
}

@keyframes myfirst{
    from {background:red;}
    to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */{
    from {
	background:red;
	left:0px;
	bottom:0px;
    }
    to {
	left:50vw;
	bottom:-9999px;
	background:yellow;
	transform: translateY(-100px);
    }
    
}
